<h1>Carrito de compras</h1>

{{#if error}}
  <p>{{error}}</p>
{{else}}
  {{#if cart.products.length}}
    <ul>
      {{#each cart.products}}
        <li>
          <h3>{{this.product.title}}</h3>
          <p>Precio: ${{this.product.price}}</p>
          <p>Categoría: {{this.product.category}}</p>
          <p>Cantidad: {{this.quantity}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>Tu carrito está vacío.</p>
  {{/if}}
{{/if}}

